/* ----------------chung------------------------------ */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: system-ui;
  font-size: 1rem;
}
.bg-color {
  height: 100vh;
  background: linear-gradient(#fa7c54, #ec2c5a);
  /* position: relative; */
}
.layout {
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  top: 30px;
  left: 30px;
  background-color: #fff;
  border-radius: 10px 0 0 0;
  position: relative;
}

/* thiet ke vien bao quanh */
.layout::before,
.layout::after {
  content: "";
  position: absolute;
  border: 1px solid #fff;
}
.layout::before {
  background-color: #fff;
  width: 30px;
  height: 90px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  bottom: 0;
  left: -30px;
}
.layout::after {
  background-color: #fff;
  width: 90px;
  height: 30px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  right: 0;
  top: -30px;
}
.layout .main-container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  height: 100%;
}
.container {
  height: 100%;
}
/* css rieng */

/* -------------------------------nav--------------------------------------- */
.main-container .navigation {
  padding: 28px 58px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navigation nav {
  margin-top: 50px;
}
.navigation nav ul li {
  padding-top: 15px;
}

.navigation a {
  text-decoration: none;
  color: #8a8a8a;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 15px;
}
.navigation li:nth-child(1) a {
  gap: 17px;
}
.navigation li:nth-child(2) a {
  gap: 10px;
}
.navigation li:nth-child(4) a {
  gap: 14px;
}
.navigation .active {
  color: #000;
}
.navigation li:hover a {
  color: #000;
}
.navigation .support {
  margin-top: auto;
  padding: 0 0 40px 0;
}
.navigation .support span {
  display: block;
  padding-bottom: 10px;
}

/* -----khoi noi dung----- */
.container-content {
  background-color: #f3f3f7;
  height: calc(100% - 30px);
  border-radius: 0 0 15px 15px;
  margin-right: 20px;
  overflow-y: auto;
}
